.search {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #ea5b1e;
  outline: none;
  padding: 10px;
  min-width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.search:focus {
  width: 350px;
}
