.card-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ea5b1e;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  color: #ea5b1e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-container:hover {
  transform: scale(1.04);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
